<div class="container" style="font-family: 'Press Start 2P',cursive; font-size: 10px">
    <div class="card">
      <img class="img-thumbnail"   src="./TP_LAV4_2017/assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <H4>Velocidad aritmética </H4>
  

      <p>           <button class="btn2 blue"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
       <div class="card">
      <img  class="img-thumbnail"  src="../TP_LAV4_2017/assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <H4>Adivina el número</H4>
    
      <p>           <button class="btn2 blue"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>

    <div class="card">
        <img class="img-thumbnail" src="../assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
        <H4>Piedra Papel o Tijera</H4>
       
        <p>           <button class="btn2 blue"  (click)="Juego('PPT')">Jugar</button></p>
      </div>

    <div class="card">
        <img  class="img-thumbnail"  src="../../TP_LAV4_2017/assets/imagenes/Palabra.jpg" alt="Avatar" style="width:100%">
        <H4>Anagrama de Palabra</H4>
      
        <p>           <button class="btn2 blue"  (click)="Juego('Anagrama')">Jugar</button></p>
      </div>
 
      <div class="card">
          <img  class="img-thumbnail"  src="./assets/imagenes/banderas.jpg" alt="Avatar" style="width:100%">
          <H4>Trivia de Banderas</H4>
        
          <p>           <button class="btn2 blue"  (click)="Juego('Trivia')">Jugar</button></p>
        </div>
  </div>