table
{
    font-family: 'Press Start 2P',cursive; 
    font-size: 10px;
    color: white;
}

ng2-smart-table{
    font-family: 'Press Start 2P',cursive; 
    font-size: 10px;
    color: #D3AFF5;

}



